<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="spring-app"/>
    <springProperty scope="context" name="appVersion" source="app.service.version" defaultValue="unknown"/>
    <springProperty scope="context" name="appEnvironment" source="app.service.environment" defaultValue="dev"/>
    <springProperty scope="context" name="logstashHost" source="logstash.host" defaultValue="localhost"/>
    <springProperty scope="context" name="logstashPort" source="logstash.port" defaultValue="5000"/>

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{serviceName}/%X{instanceId}] [trace:%X{traceId} span:%X{spanId}] [%X{method} %X{requestUri}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_HOST:-${logstashHost}}:${LOGSTASH_PORT:-${logstashPort}}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app_name":"${appName}","app_version":"${appVersion}","app_environment":"${appEnvironment}"}</customFields>
                <!-- Distributed Tracing -->
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <includeMdcKeyName>parentSpanId</includeMdcKeyName>
                <!-- Service Identity -->
                <includeMdcKeyName>serviceName</includeMdcKeyName>
                <includeMdcKeyName>instanceId</includeMdcKeyName>
                <includeMdcKeyName>version</includeMdcKeyName>
                <includeMdcKeyName>environment</includeMdcKeyName>
                <!-- Request Context -->
                <includeMdcKeyName>requestUri</includeMdcKeyName>
                <includeMdcKeyName>method</includeMdcKeyName>
                <includeMdcKeyName>clientIp</includeMdcKeyName>
                <!-- Performance Metrics -->
                <includeMdcKeyName>httpStatus</includeMdcKeyName>
                <includeMdcKeyName>duration</includeMdcKeyName>
            </encoder>
            <keepAliveDuration>5 minutes</keepAliveDuration>
        </appender>

        <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <appender-ref ref="CONSOLE"/>
        </appender>

        <appender name="ASYNC_LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <appender-ref ref="LOGSTASH"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE"/>
            <appender-ref ref="ASYNC_LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{serviceName}/%X{instanceId}] [trace:%X{traceId} span:%X{spanId}] [%X{method} %X{requestUri}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_HOST:-${logstashHost}}:${LOGSTASH_PORT:-${logstashPort}}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app_name":"${appName}","app_version":"${appVersion}","app_environment":"${appEnvironment}"}</customFields>
                <!-- Distributed Tracing -->
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <includeMdcKeyName>parentSpanId</includeMdcKeyName>
                <!-- Service Identity -->
                <includeMdcKeyName>serviceName</includeMdcKeyName>
                <includeMdcKeyName>instanceId</includeMdcKeyName>
                <includeMdcKeyName>version</includeMdcKeyName>
                <includeMdcKeyName>environment</includeMdcKeyName>
                <!-- Request Context -->
                <includeMdcKeyName>requestUri</includeMdcKeyName>
                <includeMdcKeyName>method</includeMdcKeyName>
                <includeMdcKeyName>clientIp</includeMdcKeyName>
                <!-- Performance Metrics -->
                <includeMdcKeyName>httpStatus</includeMdcKeyName>
                <includeMdcKeyName>duration</includeMdcKeyName>
            </encoder>
            <keepAliveDuration>5 minutes</keepAliveDuration>
        </appender>

        <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>false</neverBlock>
            <appender-ref ref="CONSOLE"/>
        </appender>

        <appender name="ASYNC_LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>false</neverBlock>
            <appender-ref ref="LOGSTASH"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE"/>
            <appender-ref ref="ASYNC_LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="!dev &amp; !prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{serviceName}/%X{instanceId}] [trace:%X{traceId} span:%X{spanId}] [%X{method} %X{requestUri}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
